
/* barlow-regular - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-700 - latin */
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-900 - latin */
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url("../fonts/barlow-v12-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-family: "Fraunces";
    font-style: italic;
    font-weight: 900;
    src: local(''),
         url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


*{
    box-sizing: border-box;
}
html{
    height: 100%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow","Arial",sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}
main{
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}
.container{
    width: 100%;
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header{
    background-color: #4abdf2;
}
.header-box{
    padding: 34px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-open .site-nav{
    display: block;
}
.site-nav{
    margin-left: auto;
    display: none;
}

.nav__list{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 40px 0;
    margin: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 47px;
}

.nav__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #808397;   
    text-decoration: none;
}
.nav__item:last-child .nav__link{
    display: block;
    padding: 15px 30px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #24303E;
    background-color: #FBD600;
    border-radius: 28px;
    text-decoration: none;  
}
.nav__item:last-child .nav__link:hover{
    background-color: #fff;
    opacity: 0.25;
}

.site-btn{
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    background-image: url("../images/Combined.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
}
.hero{
    padding-top: 50px;
    height: 538px;   
    background-image: url("../images/hero-mb.png");
    background-position: calc(50% + 0px) 0px;
    background-repeat: no-repeat;
    background-color: #4abdf2;
}

.hero__tlt{
    margin: 0;
    font-family: 'Fraunces 9pt Soft';
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;    
}
.changes-section{
    padding-bottom: 64px;
}
.chgs-box__list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.chgs-box__item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.chgs-box__item-img{
    margin-bottom: 64px;
    height: 312px;
    background-image: url("../images/egg-mb.jpg");
    background-repeat: no-repeat;
    background-color: #f8d70c;
    background-position: calc(50% + 0px) 0px;
}
.chgs-box__item:nth-child(2) .chgs-box__item-img{
    background-image: url("../images/cup-mb.png");
    background-color: #fe7868;
}

.chgs-box__txt-box{
    padding: 0 24px;
    width: 100%;
}
.chgs-box__item-tlt{
    
    font-family: 'Fraunces';
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;    
}

.chgs-box__item-txt{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
}

.chgs-box__item-link{
    margin-bottom: 64px;
    display: block;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #24303E;   
    text-decoration: none;
}
.chgs-box__txt-box-active{
    width: 100%;
    padding-top: 300px;
    background-color: #91dfce;
    background-image: url("../images/berries-mb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 0px) 0px;
}
.chgs-box__txt-box-active-s{
    width: 100%;
    padding-top: 300px;
    padding-bottom: 60px;
    background-color: #6acefc;
    background-image: url("../images/apelsin-mb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 0px) 0px;
}
.chgs-box__second-list{
    margin: 0;
    padding: 0;
}

.cln-box__tlt{
    margin: 0;
    margin-bottom: 160px;
    font-family: 'Fraunces 9pt Soft';
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #A7AAAD;    
}



.cln-box__list{
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 170px;
}

.cln-box__item{
    position: relative;
    margin: 0 auto;
    max-width: 327px;
}

.cln-box__img{
    position: absolute;
    top: -60%;
    left: 40%;
}

.cln-box__info{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;    
}

.cln-box__name{
    display: block;
    font-family: 'Fraunces 9pt Soft';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
    text-decoration: none;
}
.cln-box__job{
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    
}
.img-section{
    padding-top: 86px;
}
.flex-img{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.flex-img__box{
    position: relative;
    top: 4px;
}
.flex-img__box--active{
    position: relative;
    top: 7px;
}
.flex-img__img{
    width: 100%;
}

.site-footer{
    padding: 64px 39px 80px 39px;
    background-color: #90D4C6;
}

.footer-box{
    max-width: 297px;
    margin: 0 auto;
}
.footer-box__logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}


.footer-box__list{
    padding: 0;
    margin: 0;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-box__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;    
    text-decoration: none;
}

.footer-box__link:hover{
    color: #fff;
}
.footer-box__symbls{
    display: flex;
    justify-content: space-evenly;
}
.footer-box__sym-link{
    color: #2C7566;
    text-decoration: none;
}

.footer-box__sym-link:hover{
    color: #fff;
}

@media only screen and (min-width: 670px) {
    .site-nav{
        display: block;
    }   
    .site-btn{
        display: none;
    }

    .nav__list{
        position: relative;
        top: -2px;
        right: 0%;
        display: flex;
        flex-direction: row;
        padding: 0;
        background-color: transparent;
        margin: 0;
    }
    .nav__link{
        color:#FFFFFF;
    }


}

@media screen and (min-width: 950px) {
    .hero{
        padding-top: 110px;
        height: 800px;
        background-image: url("../images/hero-img.png");
    }

    .hero__tlt{
        font-weight: 900;
        font-size: 56px;
        line-height: 69px;
        text-align: center;
        letter-spacing: 8.75px;
        text-transform: uppercase;
        color: #FFFFFF;    
    }

    .chgs-box{
        width: 100%;
        margin: 0 auto;
    }
    .chgs-box__list{
        position: relative;
    }

    .chgs-box__item{
        margin: 0 auto;
        flex-direction: row;
    }
    .chgs-box__item:nth-child(2){
        flex-direction: row-reverse;
    }

    .chgs-box__item-txt-box{
        padding-left: 90px;
    }

    .chgs-box__txt-box{
        width: 50%;

    }
    .chgs-box__item-tlt{
        padding-top: 35px;
    }
    .chgs-box__item-img{
        width: 50%;
        margin-bottom: 0;
    }
    .chgs-box__item-link{
        margin-bottom: 0;
    }
    .chgs-box__item-tlt{
        text-align: left;
    }

    .chgs-box__item-txt{
        text-align: left;
    }

    .chgs-box__item-link{
        display: inline-block;
    }

    .chgs-box__second-list{
        width: 100%;
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
    }   

    .chgs-box__txt-box-active{
        position: relative;
        left: 24px;
        max-width: 673px;
    }

    .chgs-box__txt-box-active-s{
        position: relative;
        right: 24px;
        max-width: 673px;
    }
    .chgs-box__item--active{
        width: 50%;
    }


    .chgs-box__item-tlt--active{
        text-align: center;
    }

    .chgs-box__item-txt--active{
        margin: 0 auto;
        text-align: center;
        width: 50%;
    }

    .cln-box__list{
        flex-direction: row;
        gap: 30px;
    }
    .cln-box__tlt{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 210px;
    }
    .changes-section{
        padding-bottom: 160px;
    }
    .flex-img{
        grid-template-rows: 447px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .flex-img__img{
        width: 100%;
        height: 445px;
        object-fit: cover;
    }
    .flex-img__box{
        position: relative;
        top: 3px;
    }
    .flex-img__box--active{
        position: relative;
        top: 3px;
    }

}
